<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h2>About Us</h2>
        <p>Somos una comunidad dedicada y con el compromiso de traer los mejores mangas del momento y en crear contenido entretenido.</p>
      </div>
      <div class="footer-section">
        <h2>nuestros enlaces</h2>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Lista de Mangas</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Siguenos</h2>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Manga Website. All rights reserved.</p>
    </div>
  </footer>