<div class="container-fluid">
    <h2>Tus estrenos estan aca.</h2>
    <div class="row" >
        <div class="card" style="width: 28rem ;">
            <div class="card" style="background-color: black;">
              <h5 class="card-title">{{ mangas[0].nombre }}</h5>
              <img  src={{mangas[0].imagen}} alt="Tower of god" width="300" height="200">
              <p class="card-text black" >{{  mangas[0].explicacion }}.</p>
              <p class="card-text black" >{{  mangas[0].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[0].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[0].precio }}.</p>
            </div>
        </div>
        
        <div class="card body" style="width: 28rem;">
            <div class="card-body " >
              <h5 class="card-title">{{ mangas[1].nombre }}</h5>
              <img  src={{mangas[1].imagen}} alt="Naruto" width="300" height="200">
              <p class="card-text">{{  mangas[1].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[1].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[1].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[1].precio }}.</p>
            </div>
        </div>
        
        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[2].nombre }}</h5>
              <img  src={{mangas[2].imagen}} alt="Jujutsu Kaisen" width="300" height="150">
              <p class="card-text">{{  mangas[2].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[2].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[2].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>

        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[3].nombre }}</h5>
              <img  src={{mangas[3].imagen}} alt="One Piece" width="300" height="150">
              <p class="card-text">{{  mangas[3].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[3].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[3].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>

        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[4].nombre }}</h5>
              <img  src={{mangas[4].imagen}} alt="Vinland Saga" width="300" height="200">
              <p class="card-text">{{  mangas[4].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[4].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[4].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>

        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[5].nombre }}</h5>
              <img  src={{mangas[5].imagen}} alt="Record of Ragnarok" width="300" height="200">
              <p class="card-text">{{  mangas[5].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[5].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[5].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>

        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[6].nombre }}</h5>
              <img  src={{mangas[6].imagen}} alt="Berserk" width="300" height="200">
              <p class="card-text">{{  mangas[6].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[6].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[6].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>

        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[7].nombre }}</h5>
              <img  src={{mangas[7].imagen}} alt="My Hero Academia" width="300" height="220">
              <p class="card-text">{{  mangas[7].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[7].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[7].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>

        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[8].nombre }}</h5>
              <img  src={{mangas[8].imagen}} alt="blue lock" width="300" height="220">
              <p class="card-text">{{  mangas[8].explicacion  }}.</p>
              <p class="card-text black" >{{  mangas[8].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[8].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>
          
    </div>
</div>

 
