<p>mangas works!</p>

<div class="container-fluid body">
    <div class="row">
        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[0].nombre }}</h5>
              <p class="card-text">{{  mangas[0].explicacion }}.</p>
              <img  src="images/towerofgod.jpg" alt="Tower of god" width="300" height="150">
              <a href={{enlace.enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[0].precio }}.</p>
            </div>
        </div>
        
        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[1].nombre }}</h5>
              <p class="card-text">{{  mangas[1].explicacion  }}.</p>
              <img  src="images/towerofgod.jpg" alt="Tower of god" width="300" height="150">
              <a href={{enlace.enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[1].precio }}.</p>
            </div>
        </div>
        
        <div class="card body" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">{{ mangas[2].nombre }}</h5>
              <p class="card-text">{{  mangas[2].explicacion  }}.</p>
              <img  src="images/towerofgod.jpg" alt="Tower of god" width="300" height="150">
              <a href={{enlace.enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[2].precio }}.</p>
            </div>
        </div>
          
    </div>
</div>

 
