<div class="container-fluid">
    <h2>La Seccion para leer y ver es esta.</h2>
    <div class="row" >
        <div class="card" style="width: 28rem ;">
            <div class="card" style="background-color: black;">
              <h5 class="card-title">{{ mangas[0].nombre }}</h5>
              <img  src={{mangas[0].imagen}} alt="Tower of god" width="300" height="200">
              <p class="card-text black" >{{  mangas[0].explicacion }}.</p>
              <p class="card-text black" >{{  mangas[0].nombreCreador }}.</p>
              <br>
              <br>
              <a href={{mangas[0].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
              <p class="card-text">{{  mangas[0].precio }}.</p>
            </div>
        </div>
        
        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[1].nombre }}</h5>
            <img  src={{mangas[1].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[1].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[1].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[1].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[1].precio }}.</p>
          </div>
        </div>
        
        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[2].nombre }}</h5>
            <img  src={{mangas[2].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[2].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[2].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[2].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[2].precio }}.</p>
          </div>
        </div>

        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[3].nombre }}</h5>
            <img  src={{mangas[3].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[3].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[3].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[3].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[3].precio }}.</p>
          </div>
        </div>

        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[4].nombre }}</h5>
            <img  src={{mangas[4].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[4].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[4].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[4].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[4].precio }}.</p>
          </div>
        </div>

        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[5].nombre }}</h5>
            <img  src={{mangas[5].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[5].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[5].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[5].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[5].precio }}.</p>
          </div>
        </div>

        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[6].nombre }}</h5>
            <img  src={{mangas[6].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[6].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[6].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[6].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[6].precio }}.</p>
          </div>
        </div>

        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[7].nombre }}</h5>
            <img  src={{mangas[7].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[7].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[7].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[7].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[7].precio }}.</p>
          </div>
        </div>

        <div class="card" style="width: 28rem ;">
          <div class="card" style="background-color: black;">
            <h5 class="card-title">{{ mangas[8].nombre }}</h5>
            <img  src={{mangas[8].imagen}} alt="Tower of god" width="300" height="200">
            <p class="card-text black" >{{  mangas[8].explicacion }}.</p>
            <p class="card-text black" >{{  mangas[8].nombreCreador }}.</p>
            <br>
            <br>
            <a href={{mangas[8].enlace}} class="btn btn-primary">{{ enlace.msg }}</a> 
            <p class="card-text">{{  mangas[8].precio }}.</p>
          </div>
      </div>
          
    </div>
</div>

<div >
  <h2>Los mangas que pueden comprar son estos </h2>
  <table>
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let manga of mangas">
        <td><img [src]="manga.imagen" width="300" height="200"></td>
        <td>{{ manga.nombre }}</td>
        <td>{{ manga.nombreCreador }}</td>
        <td>{{ manga.precio }}</td>
        <td><button (click)="agregarAlCarrito(manga)">Agregar al carrito</button></td>
      </tr>
    </tbody>
  </table>
  
   
  
</div>
