<div class="container-fluid">
    <div class="row">
        <section class="news-section">
            <h2>Tus noticias de esta semana son </h2>
            <article>
              <h3>{{noticias[0].titular}}</h3>
              <img  src={{noticias[0].imagen}} alt="Tower of god" width="300" height="200">
              <p>{{noticias[0].msg}}</p>
              <a href="#">{{noticias[0].enlace}}</a>
            </article>
            <article>
                <h3>{{noticias[1].titular}}</h3>
                <img  src={{noticias[1].imagen}} alt="Tower of god" width="300" height="200">
                <p>{{noticias[1].msg}}</p>
                <a href="#">{{noticias[1].enlace}}</a>
            </article>
            <article>
                <h3>{{noticias[2].titular}}</h3>
                <img  src={{noticias[2].imagen}} alt="Tower of god" width="300" height="200">
                <p>{{noticias[2].msg}}</p>
                <a href="#">{{noticias[2].enlace}}</a>
            </article>
            <article>
                <h3>{{noticias[3].titular}}</h3>
                <img  src={{noticias[3].imagen}} alt="Tower of god" width="300" height="200">
                <p>{{noticias[3].msg}}</p>
                <a href="#">{{noticias[3].enlace}}</a>
            </article>
            <article>
                <h3>{{noticias[4].titular}}</h3>
                <img  src={{noticias[4].imagen}} alt="Tower of god" width="300" height="200">
                <p>{{noticias[4].msg}}</p>
                <a href="#">{{noticias[4].enlace}}</a>
            </article>
            <article>
                <h3>{{noticias[5].titular}}</h3>
                <img  src={{noticias[5].imagen}} alt="Tower of god" width="300" height="200">
                <p>{{noticias[5].msg}}</p>
                <a href="#">{{noticias[5].enlace}}</a>
            </article>
          </section>
    </div>
</div>
